<!DOCTYPE html>
html(lang="en")
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	title Triangle
	link(rel="stylesheet", href="css/styles.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	link(href="https://fonts.googleapis.com/css?family=Arimo" rel="styles")
	link(rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon")
body

header

	section
		div.row
			div.col.s2.offset-s9.grey-text.iconosHome
				i(class="fa fa-facebook", aria-hidden="true")
				i(class="fa fa-twitter", aria-hidden="true")
				i(class="fa fa-google-plus", aria-hidden="true")
				i(class="fa fa-dribbble", aria-hidden="true")
				i(class="fa fa-instagram", aria-hidden="true")

	nav.menu
		div.row
			div.col.s4
				img.responsive-img(src="assets/images/logo.png")
			ul.right.hide-on-med-and-down
				li
					a Home
				li
					a Pages
				li
					a Blog
				li
					a Portafolio
				li
					a Shortcodes
				li
					a
						i.material-icons(search)

	section
		div.row
			div.imagenHome
				img.responsive-img(src="assets/images/coming-soon-bg.png")

	section
		div.row
			div.col.s6
				img.responsive-img(src="assets/images/aboutus/1.png")
			div.col.s6
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nisi nulla sed, labore reprehenderit perspiciatis mollitia, dolor, possimus quas, rem repellat. A officia maiores, blanditiis tempora nobis. Temporibus, iusto, ipsa.

	section
		div.row
			div.col.s3.offset-s1.cuadrosHome
				img.responsive-img(src="assets/images/home/icon1.png")
				h5 Incredibly Responsive
					p Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.
			div.col.s3.offset-s1.cuadrosHome
				img.responsive-img(src="assets/images/home/icon2.png")
			div.col.s3.offset-s1.cuadrosHome
				img.responsive-img(src="assets/images/home/icon3.png")
